<div class="question-comments">
	<% commentable.comments.each do |comment| %>
		<h2><%= comment.user.email %> comentó:</h2>
			<div class="panel panel-default">
				<div class="panel-body">
					<%= comment.body %>
				</div>
			</div>
	<% end %>
</div>